
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lobster", serif;
  line-height: 1.6;
  background-color: #FBCB3B;
}

.welcome-page {
  padding: 20px;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  padding: 20px;
}

.welcome-image {
  width: 100%;
}

.welcome-content h1 {
  font-family: "Lobster", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: black;
}

#message-div {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.welcome-container {
  margin-top: 100px;
  width: 100%;
}


.curios-button {
  background: black;
  border: none;
  padding: 15px 30px;
  font-family: "Lobster", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  z-index: 1;
}

.curios-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

.favorite-button {
  background: black;
  border: none;
  padding: 15px 30px;
  font-family: "lobster", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.favorite-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

/* Responsive: Ajustes para mobile  */
@media (min-width: 768px) {

  .welcome-content {
    /* margin-bottom: 110px; */
  }
  .welcome-content h1 {
    font-size: 3.5rem;  
  }

  .welcome-container {
    width: 450px;
    margin: 0 auto;    
  }

  #message-div {
    font-size: 70px;
    width: 100%;
  }

}

  @media (min-width: 520px) and (max-width: 768px) {

    .welcome-content {
      margin-bottom: 100px;
    }
    .welcome-content h1 {
      font-size: 3rem;  
    }

    .welcome-container {
      width: 450px;
      margin: 0 auto;    
    }

    #message-div {
      font-size: 30px;
      width: 100%;
    }
  } 