#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: opacity 0.5s ease;
  z-index: 10;
  background-color: #fac93c;
  padding: 20px;
  border-radius: 10px;
 /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
}

#message-div {
  background-color:white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.addToFavorites,
.resetButton {
  background: black;
  border: none;
  padding: 10px 20px;
  font-family: "Lobster", serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addToFavorites:hover,
.resetButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #fac93c;
}

/* Resopnsive design */
@media (max-width: 768px) {
  #message-div {
    font-size: 1.5rem; 
    overflow-y: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #message-div {
    font-size: 1.8rem; 
    overflow-y: auto;
  }
}

@media (min-width: 1025px) {
  #message-div {
    font-size: 2rem; 
    overflow-y: auto;
  }
}


