body {
  font-family: "Lobster", serif;
  line-height: 1;
  background-color: #fbcb3b;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  overflow: auto;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: auto;
}

.welcome-img {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.welcome-content h1 {
  font-size: 2.8rem;
  color: black;
  text-shadow: 2px 2px 5px white;
  margin: 15px;
}

.curios-button {
  background: black;
  border: none;
  padding: 15px 30px;
  font-family: "Lobster", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.curios-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

/* Responsive Design */
/*Mobile setups*/
@media (max-width: 768px) {
  .welcome-page {
    padding: 10px;
    overflow-y: auto;
  }

  .welcome-content h1 {
    font-size: 2rem;
  }
  .curios-button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .welcome-img {
    width: 60%;
  }
}

/*Tablet setups*/
@media (min-width: 769px) and (max-width: 1024px) {
  .welcome-page {
    padding: 20px;
    overflow: auto;
  }

  .welcome-img {
    width: 80%;
  }

  .welcome-content h1 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1025px) {
  .welcome-content h1 {
    font-size: 3rem;
  }
}
