/* WELCOME.CSS */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lobster", serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fbcb3b;
}

.welcome-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.welcome-content {
  text-align: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.welcome-content h1 {
  font-family: "Lobster", serif;
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 5px white;
  margin: 10px 0;
  padding: 10px;
  z-index: 2;
}

.welcome-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-curios {
  max-width: 100%;
  object-fit: cover;
}

.curios-button {
  background: black;
  border: none;
  padding: 15px 30px;
  font-family: "Lobster", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 20px;
  z-index: 1;
}

.curios-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

.favorite-button {
  background: black;
  border: none;
  padding: 15px 30px;
  font-family: "lobster", serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.favorite-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
}

/*Responsive: Mobile setups */
@media (max-width: 768px) {
  .welcome-page {
    flex-direction: column;
  }

  .welcome-content {
    flex: unset;
    justify-content: flex-start;
  }

  .welcome-container {
    width: 100%;
  }

  .welcome-curios {
    object-fit: contain;
  }

  .curios-button {
    margin: 20px 0;
    font-size: 1rem;
    padding: 10px 20px;
  }

  .favorite-button {
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* Tablets setups */
@media (min-width: 769px) and (max-width: 1024px) {
  .favorite-button {
    bottom: 20px;
    font-size: 1.1rem;
    padding: 12px 20px;
  }

  .curios-button {
    font-size: 1.3rem;
    padding: 12px 20px;
  }
}
